{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app1/css/style.css' %}">
</head>
<body>
    <h1>kala</h1>
    <h1>hello : {{mukta}}</h1>
    {% if mukta == "gadha" %}
    <p>chagol</p>
    {% else%}
    <p>kharap manush</p>
    {% endif %}

    <table border="1" width="500">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Teacher</th>
        </tr>
        {% for i in courses%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.teacher}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>